{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    {% if perms.users.can_view_users and not user.is_superuser %}
        <p class="lead">сервис рассылок</p>
            <div class="row justify-content-md-center">
                <div class='card col-lg-2'>
                    <div class='card-header'>
                        <a class="btn btn-outline-primary" href="{% url 'mailings:mailing_moder_list' %}">рассылки</a>
                    </div>
                    <div class='card-body'>
                        <p>всего рассылок: {{ mailings_moder_number }}</p>
                    </div>
                </div>
                <div class='card col-lg-2'>
                    <div class='card-header'>
                        <a class="btn btn-outline-primary" href="{% url 'users:users_list' %}">users</a>
                    </div>
                    <div class='card-body'>
                        <p>всего зарегистрированных пользователей: {{ users }}</p>
                    </div>
                </div>
            </div>
                {% else %}
        {% if user.is_authenticated %}
            <p class="lead">сервис рассылок</p>
            <div class="row justify-content-md-center">

                <div class='card col-lg-2'>
                    <div class='card-header'>
                        <a class="btn btn-outline-primary" href="{% url 'mailings:mailing_list' %}">рассылки</a>
                    </div>
                    <div class='card-body'>
                        <p>всего рассылок {{ mailings_number }}</p>
                    </div>
                </div>
                <div class='card col-lg-2'>
                    <div class='card-header'>
                        <a class="btn btn-outline-primary" href="{% url 'mailings:message_list' %}">сообщения</a>
                    </div>
                    <div class='card-body'>
                        <p>всего сообщений {{ message_number }}</p>
                    </div>
                </div>
                <div class='card col-lg-2'>
                    <div class='card-header'>
                        <a class="btn btn-outline-primary" href="{% url 'mailings:client_list' %}">клиенты</a>
                    </div>
                    <div class='card-body'>
                        <p>всего клиентов {{ clients_number }}</p>
                    </div>
                </div>
                <div class='card col-lg-2'>
                    <div class='card-header'>
                        <a class="btn btn-outline-primary" href="{% url 'mailings:mailing_log' %}">лог рассылок</a>
                    </div>
                    <div class='card-body'>
                        <p>всего проведено рассылок: {{ attempt_number }}</p>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="lead">сервис рассылок доступен только авторизованным пользователям</p>
        {% endif %}
    {% endif %}
    <div><br><br>
        <p class="lead">три случайные статьи</p><br><br>

        <div class="row justify-content-md-center">
            {% for post in  posts %}
                    <div class="col-2 offse">
                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">{{ post.title }}</h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    <img src="{{ post.image | media_filter }}" class="img-fluid">
                                </div>
                                <p>{{ object.content }}</p>
                                <a role="button" href="{% url 'blog:post_detail' post.pk %}" class="btn btn-lg btn-block btn-outline-primary">подробнее</a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container overflow-hidden">
</div>
{% endblock %}
