{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead">здесь можно создавать и редактировать рассылки
    </p>
    {% if user.is_authenticated %}
        <div class="d-flex flex-row justify-content-evenly">
            <div class='card'>
                <div class='card-header'>
                    <a class="btn btn-outline-primary" href="{% url 'mailings:mailing_list' %}">рассылки</a>
                </div>
                <div class='card-body'>
                    <p>всего рассылок {{ mailings_number }}</p>
                </div>
            </div>
            <div class='card'>
                <div class='card-header'>
                    <a class="btn btn-outline-primary" href="{% url 'mailings:message_list' %}">сообщения</a>
                </div>
                <div class='card-body'>
                    <p>всего сообщений{{ message_number }}</p>
                </div>
            </div>
            <div class='card'>
                <div class='card-header'>
                    <a class="btn btn-outline-primary" href="#">лог рассылок</a>
                </div>
                <div class='card-body'>
                    <p>всего проведено рассылок</p>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div class="container overflow-hidden">
</div>
{% endblock %}
